<div class="header">
    <h1>Simchas</h1>
</div>
<div class="row header">
    <div class="col-md-4">
        <button class="btn btn btn-danger" id="new-simcha">New Simcha</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Contributions</th>
            <th>Simcha Name</th>
            <th>Contributor Count</th>
            <th>Total</th>
            <th>Date</th>
        </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href="/simchas/contributions?simchaid=1012">Contributions</a>
                </td>
                <td>Schwartz Grandson</td>
                <td>
                    8 / 11
                </td>
                <td>$137.00</td>
                <td>04/15/2022</td>
            </tr>
                </table>
                </div>
                

